@model QuanLy_DaiHoc.Models.LopTinChi

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit</h1>

<h4>LopTinChi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdLopTinChi" />
             <div class="form-group">
                <label class="control-label">Tên môn học</label>
                <select asp-for="IdMonHoc" class ="form-control" asp-items="ViewBag.IdMonHoc"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Ngày dạy</label>
                <input asp-for="NgayDay" class="form-control" />
                <span asp-validation-for="NgayDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ngày kết thúc</label>
                <input asp-for="NgayKetThuc" class="form-control" />
                <span asp-validation-for="NgayKetThuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tên lớp</label>
                <input asp-for="Tenlop" class="form-control" />
                <span asp-validation-for="Tenlop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

