@model QuanLy_DaiHoc.Models.LopSinhVien

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>LopSinhVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLopTinChiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLopTinChiNavigation.IdLopTinChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSinhVienNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSinhVienNavigation.IdNguoiDung)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdLopSinhVien">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
